<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
</head>
<body>
  <h1>Iniciar sesión</h1>
  <form method="post">
    {% csrf_token %}
    <p>
      <label for="username-id">Username:</label>
      <input type="text" name="username" id="username-id">
    </p>
    <p>
      <label for="password-id">Password:</label>
      <input type="password" name="password" id="password-id">
    </p>
    <button type="submit">Entrar!</button>
  </form>
  
  <p>
    ¿No tienes cuenta? 
    <a href="{% url 'users:signup' %}">Regístrate</a>
  </p>

</body>
</html>