<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
</head>
<body>
  <h1>Crear cuenta</h1>
  <form method="post">
    {% csrf_token %}
    <p>
      <label for="username-id">Username:</label>
      <input type="text" name="username" id="username-id">
    </p>
    <p>
      <label for="email-id">Correo:</label>
      <input type="email" name="email" id="email-id">
    </p>
    <p>
      <label for="password-id">Password:</label>
      <input type="password" name="password" id="password-id">
    </p>
    
    <button type="submit">¡Crear cuenta!</button>
  </form>
  
  <p>
    ¿Ya tienes cuenta? 
    <a href="{% url 'users:signin' %}">Inicia sesión</a>
  </p>
</body>
</html>